#tooltip {
  position: absolute;
  opacity: 0;
  border: 1px solid black;
  padding: 10px;
  background-color: white;
}

.navbar {
  position: relative;
  overflow: hidden;
  background-color: #333;
  width: 330px;
  height: 138px;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* border: 1px solid #f2f2f2; */
  width: 80px;
  height: 40px;
  position: absolute;
}

.navbar a.current {
  background-color: #555; /* Darker background for current page */
  color: white; /* White text for current page */
}

.navbar a.disable-click {
  cursor: not-allowed; /* Change the cursor on hover */
}

.navbar a:nth-child(1) {  /* Home */
  top: 0;
  left: 0;
}

.navbar a:nth-child(2) {  /* Drill Down 1 */
  top: 70px;
  left: 0;
}

.navbar a:nth-child(3) {  /* Home 2 */
  top: 0;
  left: 110px;
}

.navbar a:nth-child(4) {  /* Drill Down 2 */
  top: 70px;
  left: 110px;
}

.navbar a:nth-child(5) {  /* Home 3 */
  top: 40px;
  left: 220px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

#legend {
  margin-top: 20px;
}

.legend-key {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.next_slide {
  position: absolute;
  top: 0;
  left: 0;  
  background: url('rightarrow.png') no-repeat;
  background-size: contain;  
  color: black;
  /* Add additional styles as needed */
  border: 1px solid black; /* Remove button border */
  text-align: center; /* Center the text */
  padding: 0px 40px; /* Add some padding */
  cursor: pointer; /* Change cursor on hover */
  font-size: 11px; /* Set font size */
  /* Set width and height of the button to match the image dimensions */
  width: 80px; 
  height: 40px;
}

.drilldown-instruction {
  font-size: 14px;
  color: red;
  margin-top: 0px;
}

.svg-container {
  position: relative;
}